async-lru==2.0.4
ply==3.11
rfc3339-validator==0.1.4
appnope==0.1.3
executing==0.8.3
pandas==2.2.3
tornado==6.4.1
lazy_loader==0.4
matplotlib==3.9.2
torchaudio==2.5.0.dev20241008
decorator==5.1.1
importlib_metadata==8.5.0
traitlets==5.14.3
pydot==1.2.4
nest-asyncio==1.6.0
branca==0.8.1
jsonschema-specifications==2023.7.1
pandocfilters==1.5.0
multidict==6.1.0
ptyprocess==0.7.0
outcome==1.3.0.post0
PyYAML==6.0.1
pybind11==2.13.6
unicodedata2==15.1.0
tifffile==2025.1.10
tifffile==2024.12.12
tinycss2==1.2.1
jupyterlab==4.2.5
notebook==7.2.2
filelock==3.13.1
urllib3==2.2.3
webencodings==0.5.1
huggingface-hub==0.25.2
zipp==3.21.0
Pygments==2.15.1
python-json-logger==2.0.7
jupyter_server_terminals==0.4.4
msgpack==1.1.0
nbformat==5.9.2
ftfy==6.3.1
defusedxml==0.7.1
stack-data==0.2.0
selenium==4.27.1
requests==2.32.3
frozenlist==1.5.0
Jinja2==3.1.4
rpds-py==0.10.6
imageio==2.36.1
shapely==2.0.6
bleach==4.1.0
tqdm==4.66.5
torchvision==0.20.0.dev20241008
parso==0.8.3
safetensors==0.4.5
six==1.16.0
h11==0.14.0
GitPython==3.1.44
qtconsole==5.6.0
wheel==0.44.0
xyzservices==2024.9.0
PyQt6-Qt6==6.7.3
kiwisolver==1.4.4
ipython==8.27.0
jupyter-console==6.6.3
QtPy==2.4.1
joblib==1.4.2
widgetsnbextension==4.0.10
packaging==24.1
asttokens==2.0.5
overrides==7.4.0
pytz==2024.1
httpcore==1.0.2
PySocks==1.7.1
jsonschema==4.19.2
folium==0.19.4
Babel==2.11.0
psutil==5.9.0
fsspec==2024.6.1
scikit-learn==1.6.1
protobuf==5.29.3
clip==1.0
jupyter-events==0.10.0
click==8.1.8
argon2-cffi==21.3.0
fonttools==4.51.0
colour==0.1.5
jupyter-lsp==2.2.0
PyQt5==5.15.10
sip==6.7.12
PyWavelets==1.8.0
mlp==0.0.0
debugpy==1.6.7
cffi==1.17.1
aiohttp==3.11.11
pyparsing==3.1.2
platformdirs==3.10.0
pyperclip==1.9.0
propcache==0.2.1
comm==0.2.1
scikit-image==0.25.0
threadpoolctl==3.5.0
multiprocess==0.70.16
pycparser==2.21
jedi==0.19.1
jupyter_core==5.7.2
pure-eval==0.2.2
xxhash==3.5.0
networkx==3.4.1
contourpy==1.3.0
soupsieve==2.5
prompt-toolkit==3.0.43
cycler==0.11.0
gitdb==4.0.12
matplotlib-inline==0.1.6
fastjsonschema==2.16.2
jupyterlab-widgets==3.0.10
notebook_shim==0.2.3
terminado==0.17.1
python-dateutil==2.9.0.post0
mpmath==1.3.0
PyQt6==6.7.1
jupyter_client==8.6.0
jupyter_server==2.14.1
sentry-sdk==2.20.0
yarl==1.18.3
sortedcontainers==2.4.0
geopandas==1.0.1
charset-normalizer==3.3.2
pyzmq==25.1.2
mistune==2.0.4
Brotli==1.0.9
jupyter==1.0.0
jupyterlab_server==2.27.3
trio-websocket==0.11.1
pydantic_core==2.27.2
PyQt5-sip==12.13.0
pexpect==4.8.0
trio==0.28.0
ipykernel==6.28.0
pip==24.2
idna==3.7
dill==0.3.8
geopy==2.4.1
wcwidth==0.2.5
pillow==10.4.0
docker-pycreds==0.4.0
rfc3986-validator==0.1.1
numpy==2.1.2
referencing==0.30.2
httpx==0.27.0
sympy==1.13.1
argon2-cffi-bindings==21.2.0
Send2Trash==1.8.2
Cython==3.0.11
PyQt6_sip==13.8.0
aiosignal==1.3.2
typing_extensions==4.12.2
scipy==1.14.1
attrs==24.3.0
sniffio==1.3.0
smmap==5.0.2
tokenizers==0.20.1
geographiclib==2.0
jupyterlab-pygments==0.1.2
ipywidgets==8.1.2
regex==2024.9.11
json5==0.9.6
tzdata==2024.2
geoclip==1.2.0
anyio==4.2.0
nbclient==0.8.0
nbconvert==7.10.0
prometheus-client==0.14.1
pyproj==3.7.0
setuptools==75.1.0
beautifulsoup4==4.12.3
aiohappyeyeballs==2.4.4
setproctitle==1.3.4
annotated-types==0.7.0
certifi==2024.12.14
transformers==4.45.2
MarkupSafe==2.1.3
wsproto==1.2.0
datasets==3.2.0
pointpats==2.5.1
pydantic==2.10.5
pyogrio==0.10.0
wandb==0.19.4
libpysal==4.12.1
pyarrow==19.0.0
torch==2.6.0.dev20241008
websocket-client==1.8.0
jaraco.text==3.12.1
jaraco.collections==5.1.0
importlib_metadata==8.0.0
jaraco.functools==4.0.1
packaging==24.1
jaraco.context==5.3.0
inflect==7.3.1
autocommand==2.2.2
backports.tarfile==1.2.0
typeguard==4.3.0
wheel==0.43.0
zipp==3.19.2
importlib_resources==6.4.0
tomli==2.0.1
typing_extensions==4.12.2
more-itertools==10.3.0
platformdirs==4.2.2
